<h3>Welcome stranger, you may sign up here -</h3>
<form method = "POST" action="/user/signup">
Username : <input type="text" name="username" placeholder ="Username" required />
</br></br>
Password : <input type="password" name="password" placeholder= "Password"  required/>
</br></br>
First Name : <input type="text" name="fname" placeholder= "First Name" required />
</br></br>
Last Name : <input type="text" name="lname" placeholder= "Last Name" required />
</br></br>
Address 1 : <input type="text" name="add1" placeholder= "Address 1" required />
</br></br>
Address 2 : <input type="text" name="add2" placeholder= "Address 2" />
</br></br>
<input type="submit" value = "register" />
</form>