
<link rel="stylesheet" href="styles/signup.css">
<div class = "box1" style= "width:400px; margin-right:auto; margin-left:auto;solid #000;">
<body>
<h1>Welcome stranger, you may sign up here </h1>
<fieldset>
<form method = "POST" action="/user/signup">
Username : <input type="text" name="username" placeholder ="Username" required />
</br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


 <% flash.get('signup_failed').forEach(function (message) { %>
    
       <%= message %>
  <% }) %>
</br></br>
Password :   <input type="password" name="password" placeholder= "Password" required />
</br></br>
First Name : <input type="text" name="fname" placeholder= "First Name" required />
</br></br>
Last Name :  <input type="text" name="lname" placeholder= "Last Name" required />
</br></br>
 Type :
&nbsp;
	  <select style = "border : 1">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
</br></br> 
Address 1 :  <input type="text" name="add1" placeholder= "Address 1" required />
</br></br>
Address 2 :  <input type="text" name="add2" placeholder= "Address 2" />
</br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value = "register" />

</form>
</fieldset>
</div>
</body>