

<% data.userCount.forEach(function (users) { %>
	<p> Welcome <%= users.username %> </p>
<% }); %>	

<p><a href="/user"> <span>view profile</span> </a> </p>
<a href= "/user/logout"><button type= "button">Logout</button></a>